<header class="nav_bar">
  
                <img src="/images/zoho-logo-web.svg" width="130" height="65" class="pl-15 pr-15">
      <div class="flex-con">
           <div class="zg-active-nav pl-15" >
                  <ul>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Books</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Inventory</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Payroll</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Billing</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Expense</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22 fs14">Commerce</a></li>
                        <li class="mr-25"><a href="#" class="ptb-22">All Products</a></li>
                  </ul>
           </div>
           <div class="zg-utilities">
               <!-- <div><img src="/images/Screenshot 2024-11-26 at 2.55.57 PM.png" width="30" height="9"></div> -->
               <a class="fs14 mr-25">SING IN</a>
               <button class="btn danger mr-15">SIGN UP FOR FREE</button>
           </div>
     </div>
</header>