<nav class="nav_bar stick">
  

<div class="flex-con">
  <img src="/images/zi-logo.svg" width="130" height="65" class="pl-15 pr-15">
   <div class="zg-active-nav pl-15" >
          <ul>
                <li class="mr-25"><a href="#" class="ptb-22 ">Features </a></li>
                <li class="mr-25"><a href="#" class="ptb-22 ">Pricing</a></li>
                <li class="mr-25"><a href="#" class="ptb-22 ">Download</a></li>
                <li class="mr-25"><a href="#" class="ptb-22 ">Resources</a></li>
               
          </ul>
   </div>
</div>

</nav>